
    
<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/></head>
<body>
    <footer>
        <div class="waves">
            <div class="wave" id = "wave1"></div>
            <div class="wave" id = "wave2"></div>
            <div class="wave" id = "wave3"></div>
            <div class="wave" id = "wave4"></div>
        </div>
        <ul class="social_icon">
            <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
        <ul class="menu">
           <li><a href="#">Home</a></li> 
           <li><a href="#">About Us</a></li> 
           <li><a href="#">Services</a></li> 
           <li><a routerLink="team">Team</a></li> 
           <li><a href="#">Contact Us</a></li> 
        </ul>
        <p>©2023 Examportal | All Rights Reserved</p>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>