<div class="team">
    <div class="member">
      <img src="assets/deva.jpeg" alt="Member 1">
      <div class="description">
        <h2><b>Devanand Kale</b></h2>
        <p>2.7+ years experienced Java Fullstack developer skilled in building robust and scalable applications, with a deep understanding of object-oriented programming principles. Proficient in Java frameworks like Spring and Hibernate, and adept at database management using SQL. Passionate about delivering high-quality code and constantly staying updated with the latest Java advancements. Strong problem-solving abilities and a collaborative team player dedicated to driving project success. Able to create scalable and high performance projects using modern technolgies</p>
      </div>
    </div>
    <div class="member2">
      <img src="assets/abhishek.jpeg" alt="Member 2">
      <div class="description">
        <h2><b>Abhishek Kumar</b></h2>
        <p>1+ Years experienced Java Developer who is passionate about Data structures and algorithms, has problem solving skills, with a deep understanding of modern frameworks like SpringBoot, Hibernate. Commited to deliver projects in given timeline</p>
      </div>
    </div>
    <div class="member">
      <img src="assets/670020.png" alt="Member 3">
      <div class="description">
        <h2><b>Vikas Kumar</b></h2>
        <p>Highly skilled Java developer with over 2 years of experience in test-driven development (TDD). Proficient in JUnit and other testing frameworks, ensuring comprehensive test coverage and bug-free software solutions. Adhering to TDD principles, writes clean and maintainable code. Strong problem-solving skills, analyzing complex systems and improving them. Embraces Agile methodologies, continuously integrating and automating tests for efficient software delivery.</p>
      </div>
    </div>
  </div>
  